.form-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    align-items: flex-start;
}

.token-column{
    width: 80%;
    height: 90%;
    display: grid;
    overflow-y: scroll;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    
}

.token-column::-webkit-scrollbar{
    display: none;
}

.grid{
    width: 100%;
}